body{
margin:0;
font-family: 'Heebo', sans-serif;
min-height:3000px;
}
 .container{
	 max-width:1180px;
	 margin:auto;
	 padding:0 16px;
	 display: flex;
    align-items: center;
    justify-content: space-between;
	height:100%;
}
	 
 
ul{
	margin: 0;
    padding: 0;
}


header {
	background-color:white;
	 box-shadow: 0 1px 6px 0 rgba(0,0,0,0.15);
	 height: 80px;
	 position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
	 


	
header.logo{
	
	display: inline-block;
	font-size:27px;
}
.blue-dot{
	background-color:blue;
	width:10px;
	height:10px;
	
}
header nav{
	
	display: inline-block;
	
}
header nav ul li{
	display: inline-block;
}
header nav ul li a{
	color: #3E3E3E;
    font-size: 15px;
  letter-spacing: 0.37px;
  margin-right:24px;
	text-decoration:none;
}
header nav ul li :last-of-type a{
	
  margin-right:0;
	
}